.fieldsContainer {
    display: grid;
    padding: 1vw 2vw;
    width: 75%;
    height: 11vw;
    border-radius: 2vw;
    border: .15vw solid #63DAFC;
}

.field {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    align-items: center;
}

.text {
    margin-bottom: .9vw;
    font-size: 3.7vw;
    color: #63DAFC;
}