.fieldsContainer {
    display: grid;
    padding: 1vw 2vw;
    width: 75%;
    height: 11vw;
    border-radius: 2vw;
    border: 3px solid #63DAFC;
}

.field {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    align-items: center;
}

.text {
    margin-bottom: 0.5vw;
    font-size: 3vw;
    color: #63DAFC;
}