.input {
    width: 10vw;
    height: 3vw;
    color: #000;
    text-align: center;
    font-size: 3.3vw;
    outline: none;
    border: .15vw solid #63DAFC;
    border-radius: 1vw;
}

.inputRed {
    color: red;
    border: 3px solid red;
    background-color: #fda6a6;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    border: .1vw solid transparent;
    cursor: pointer;
    display: none;
}