.ButtonsContainer {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vw;
    width: 85%;
    border-radius: 2vw;
    border: .15vw solid #63DAFC;
}

.Buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}